[submodule "back"]
	path = back
	url = https://github.com/EluMancebo/repo_back_actividadesSubmodulos.git
[submodule "front"]
	path = front
	url = https://github.com/EluMancebo/repo_front_actividadesSubmodulos.git
[submodule "app"]
	path = app
	url = https://github.com/EluMancebo/repo_front_actividadesSubmodulos.git
